.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

body {
  overflow-x: hidden; }

#right {
  background: url("../images/bg.jpg");
  margin-left: 207px;
  display: block;
  float: none; }

.lines {
  margin-top: 2px;
  margin-bottom: 3px;
  border-color: #e0e0e0; }

.lines:last-child {
  margin-bottom: 30px; }

.line {
  border-color: #e0e0e0; }

.below-content {
  display: inline-block;
  width: 100%; }
  .below-content .btn-cimar {
    margin-top: 0; }

.social-share {
  float: right;
  height: 30px; }
  .social-share span {
    float: right; }
    .social-share span h4 {
      margin-top: 6px !important;
      margin-bottom: 0;
      margin-right: 15px; }
  .social-share ul {
    float: right;
    list-style-type: none; }
    .social-share ul li {
      float: left;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      background: #4065ab;
      display: table;
      text-align: center; }
      .social-share ul li i {
        color: #fff;
        display: table-cell;
        vertical-align: middle; }
    .social-share ul li:hover {
      background: #8999cc; }

* {
  margin: 0;
  padding: 0; }

.btn-cimar {
  width: 114px;
  height: 30px;
  margin-top: 10px;
  background: #4065ab;
  color: #fff;
  line-height: 24px;
  display: table; }
  .btn-cimar span {
    display: table-cell !important;
    vertical-align: middle !important;
    font-size: 11pt !important; }
  .btn-cimar i {
    margin-left: 5px;
    font-size: 9pt; }

.btn-cimar:hover {
  background: #004996;
  color: #fff;
  text-decoration: none; }

#menu {
  width: 207px;
  height: 100%;
  min-height: 100%;
  display: block;
  float: left;
  border-right: 4px solid #a7bcc9;
  position: fixed;
  background: #fff; }
  #menu .menu-logo img {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 52px;
    width: 86%; }
  #menu .hoofdmenu {
    list-style-type: none;
    width: 100%; }
    #menu .hoofdmenu a {
      color: #004996; }
      #menu .hoofdmenu a li {
        height: 31px;
        margin-top: -1px;
        line-height: 12px;
        padding-top: 10px;
        padding-left: 46px;
        text-transform: uppercase;
        border-top: 1px solid #edeef7;
        border-bottom: 1px solid #edeef7;
        font-size: 8pt; }
      #menu .hoofdmenu a li:hover {
        background: #f6f7fb; }
    #menu .hoofdmenu a:hover {
      text-decoration: none; }
  #menu .flags-list {
    list-style-type: none;
    margin-top: 30px;
    margin-left: 42px;
    float: left; }
    #menu .flags-list .flag-list {
      float: left; }
    #menu .flags-list .flag {
      display: block;
      height: 11px;
      width: 17px;
      margin-left: 4px;
      background: url("../images/language_vlaggen.png"); }
    #menu .flags-list #nl {
      background-position: -136px -120px !important; }
    #menu .flags-list #en {
      background-position: -22px -386px !important; }
    #menu .flags-list #en:hover {
      background-position: -22px -186px !important; }
  #menu .copyright {
    float: left;
    display: block;
    font-size: 8pt;
    margin-left: 46px;
    color: #2c2c2c; }
    #menu .copyright a {
      color: #2c2c2c; }

#header {
  height: 663px;
  min-height: 663px; }
  #header .slides {
    display: block;
    position: relative;
    margin-bottom: 0;
    list-style-type: none; }
    #header .slides .slide {
      position: absolute; }
      #header .slides .slide .overlay {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0;
        background: url("../images/raster-cimar.png"); }
      #header .slides .slide .slider-text {
        z-index: 100;
        position: absolute;
        left: 20%;
        bottom: 20%;
        background: #004996;
        opacity: 0.8;
        padding: 20px; }
        #header .slides .slide .slider-text h3 {
          color: #fff;
          font-size: 19px;
          font-weight: bold; }
      #header .slides .slide .slider-verder {
        width: 40px;
        height: 40px;
        z-index: 100;
        position: absolute;
        display: table;
        bottom: 20%;
        left: 63%;
        background: #004996;
        opacity: 0.8;
        text-align: center; }
        #header .slides .slide .slider-verder i {
          display: table-cell;
          vertical-align: middle;
          color: #fff; }
  #header .slides-menu {
    position: relative;
    left: 3%;
    top: 92%; }
    #header .slides-menu li {
      width: 12px;
      height: 12px;
      float: left;
      display: block;
      background: #fff;
      margin: 4px;
      box-shadow: 1px 2px 2px #999; }

#content {
  padding-bottom: 24px;
  float: left; }
  #content .block {
    padding: 10px;
    margin-top: 24px;
    background: #fff; }
    #content .block h3 {
      color: #004996;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 16pt; }
    #content .block .block-title {
      display: block;
      font-size: 9pt;
      font-weight: bold;
      padding-bottom: 15px; }
    #content .block .block-intro {
      display: block;
      font-size: 9pt;
      border-bottom: 1px solid #4d4d4d;
      padding-bottom: 15px; }

#page-title {
  margin-top: 40px;
  margin-bottom: 30px; }
  #page-title h3 {
    color: #004996;
    font-weight: lighter; }
  #page-title hr {
    margin-top: 2px;
    margin-bottom: 3px;
    border-color: #e0e0e0; }

#page-header .page-slides {
  display: block;
  position: relative;
  margin-bottom: 0;
  list-style-type: none; }
  #page-header .page-slides img {
    width: 100%; }
#page-header .page-slides-menu {
  position: absolute;
  left: 30px;
  margin-top: -34px; }
  #page-header .page-slides-menu li {
    width: 12px;
    height: 12px;
    float: left;
    display: block;
    background: #fff;
    margin: 4px;
    box-shadow: 1px 2px 2px #999; }

#page-links {
  list-style-type: none;
  height: 40px;
  margin-bottom: 0;
  background-color: #4065ab; }
  #page-links .link {
    font-size: 11pt;
    text-align: center;
    background-color: #4065ab;
    color: #fff;
    height: 100%;
    display: table; }
    #page-links .link span {
      display: table-cell;
      vertical-align: middle; }
  #page-links .link:hover {
    background: #8999cc; }

#page-content {
  font-size: 9pt;
  background: #fff;
  padding: 30px 15px;
  margin-bottom: 30px; }
  #page-content h4 {
    margin-top: 0; }
  #page-content p {
    line-height: 20px; }

.sticky-block {
  height: 294px !important; }
  .sticky-block .sticky-image {
    padding-left: 0; }
  .sticky-block .sticky-text h4 {
    margin-top: 20px;
    margin-bottom: 0;
    color: #4065ab; }
  .sticky-block .sticky-text span {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 9pt; }

.news-block:first-child {
  margin-top: 0; }

.news-block {
  height: 182px;
  background: #fff;
  margin: 30px 0; }
  .news-block .news-block-image {
    padding-left: 0;
    height: 100%;
    display: table; }
    .news-block .news-block-image span {
      display: table-cell;
      vertical-align: middle; }
  .news-block .news-block-text h4 {
    margin-top: 20px;
    margin-bottom: 0;
    color: #4065ab; }
  .news-block .news-block-text span {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 9pt; }

#post-content {
  font-size: 9pt;
  background: #fff;
  padding: 30px 15px;
  margin-bottom: 30px; }
  #post-content h4 {
    margin-top: 0; }
  #post-content p {
    line-height: 20px; }

#sidebar .sidebar-block {
  margin-bottom: 30px; }
#sidebar .sidebar-block-head {
  width: 100%;
  height: 38px;
  background-color: #4065ab;
  color: #fff;
  text-align: center;
  display: table; }
  #sidebar .sidebar-block-head span {
    display: table-cell;
    vertical-align: middle;
    font-size: 12pt;
    font-weight: bold; }
#sidebar .sidebar-block-body {
  padding: 15px;
  background: #fff;
  font-size: 9pt; }

#footer {
  color: #fff; }
  #footer .breadcrumbs {
    background: #bac0e2;
    height: 24px; }
  #footer .footer-content {
    background: #4065ab;
    padding-top: 30px;
    padding-bottom: 10px; }
    #footer .footer-content h3 {
      font-weight: bold; }
    #footer .footer-content .diensten ul {
      margin-top: 28px;
      list-style-type: none; }
    #footer .footer-content .diensten li {
      height: 20px;
      margin-bottom: 5px;
      font-size: 10pt; }
    #footer .footer-content .diensten a {
      color: #fff; }
    #footer .footer-content .contact ul {
      margin-top: 28px;
      list-style-type: none; }
    #footer .footer-content .contact li {
      height: 20px;
      margin-bottom: 5px;
      font-size: 10pt; }
    #footer .footer-content .contact a {
      color: #fff; }
  #footer .partners {
    padding-bottom: 10px; }
    #footer .partners li {
      float: left;
      margin-top: 10px;
      margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
