#right
  margin-left: 207px
  display: block
  float: none

#content
  background: url("../images/bg.jpg")
  padding-bottom: 24px
  float: left
  .block
    padding: 10px
    margin-top: 24px
    background: $white
    h3
      color: $deep_blue
      margin-top: 0
      margin-bottom: 10px
      font-size: 16pt
    .block-title
      display: block
      font-size: 9pt
      font-weight: bold
      padding-bottom: 15px
    .block-intro
      display: block
      font-size: 9pt
      border-bottom: 1px solid #4d4d4d
      padding-bottom: 15px
    .lees-verder
      width: 114px
      height: 30px
      margin-top: 10px
      background: $blue
      color: $white
      line-height: 24px
      display: table
      span
        display: table-cell
        vertical-align: middle
      i
        margin-left: 5px
        font-size: 9pt
    .lees-verder:hover
      background: $deep_blue
      text-decoration: none
