.no-padding
  padding: 0 !important

.no-margin
  margin: 0 !important

body
  overflow-x: hidden

// Reset
*
  margin: 0
  padding: 0

// Variables

// colors
$white:             #fff
$deep_blue:         #004996
$blue:              #4065ab
$light_blue:        #8999cc
$extra_light_blue:  #bac0e2
$silver_blue:       #d0d5eb
